<div class="about-sec sec-padd-60 !pb-0">
    <div class="container">
        <div class="col">
            <h3 class="sec-title">{{c_aboutch.[0].title}}</h3>
            <div class="">{{c_aboutch.[0].description}}</div>
            {{!-- <a href="{{c_ctabtn1.link}}"
                        class="button primary-button">{{c_ctabtn1.label}}</a> --}}
            <div class="store-img">
                <img class="" src="{{c_photo.url}}"/>
            </div>
        </div>
    </div>
</div>
<div class="product-sec sec-padd-60">
    <div class="container">
        <div class="col sec-heading">
            <span class="shape"></span>
            <h3 class="sec-title">LES PRODUITS EN CE MOMENT DISPONIBLES DANS DÉCOR D'IDENTITÉ PERSONNELLE</h3>
            <p>The Art of Living is indeed an Art. That of inventing a universe, of taking pleasure in decorating a house, setting a table, sharing the good and the beautiful, cultivating the happiness of every moment. Since 1830, Christofle, Parisian goldsmith, creates with elegance and know-how, exceptional tableware, refined jewelry and home accessories. </p>
        </div>
        <div class="col">
            <div class="product-slider owl-carousel">
                <div class="product">
                    <div class="product-img">
                        <img src="/images/product-img-1.png" alt=""/>
                    </div>
                    <div class="pro-details">
                        <p class="title">VERTIGO</p>
                        <h3 class="desc">Bougeoir 1 anneau en métal argenté</h3>
                        <div class="price">
                            <p>220€</p>
                        </div>
                        <a href="#" class="button primary-button" title="Découvrir"> Découvrir </a>
                    </div>
                </div>
                <div class="product">
                    <div class="product-img">
                        <img src="/images/product-img-1.png" alt=""/>
                    </div>
                    <div class="pro-details">
                        <p class="title">VERTIGO</p>
                        <h3 class="desc">Bougeoir 1 anneau en métal argenté</h3>
                        <div class="price">
                            <p>220€</p>
                        </div>
                        <a href="#" class="button primary-button" title="Découvrir"> Découvrir </a>
                    </div>
                </div>
                <div class="product">
                    <div class="product-img">
                        <img src="/images/product-img-1.png" alt=""/>
                    </div>
                    <div class="pro-details">
                        <p class="title">VERTIGO</p>
                        <h3 class="desc">Bougeoir 1 anneau en métal argenté</h3>
                        <div class="price">
                            <p>220€</p>
                        </div>
                        <a href="#" class="button primary-button" title="Découvrir"> Découvrir </a>
                    </div>
                </div>
                <div class="product">
                    <div class="product-img">
                        <img src="/images/product-img-1.png" alt=""/>
                    </div>
                    <div class="pro-details">
                        <p class="title">VERTIGO</p>
                        <h3 class="desc">Bougeoir 1 anneau en métal argenté</h3>
                        <div class="price">
                            <p>220€</p>
                        </div>
                        <a href="#" class="button primary-button" title="Découvrir"> Découvrir </a>
                    </div>
                </div>
                <div class="product">
                    <div class="product-img">
                        <img src="/images/product-img-1.png" alt=""/>
                    </div>
                    <div class="pro-details">
                        <p class="title">VERTIGO</p>
                        <h3 class="desc">Bougeoir 1 anneau en métal argenté</h3>
                        <div class="price">
                            <p>220€</p>
                        </div>
                        <a href="#" class="button primary-button" title="Découvrir"> Découvrir </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>