<footer class="site-footer">
  <div class="footer-top">
    <div class="container flex flex-wrap max-w-7xl">
     
      <div class="block">
        <span class="before:content-['\006c'] font-chrisfo-icon text-2xl mr-3"></span>
        {{#if c_locations}}
         {{#each c_locations}} <p>{{c_topfooter.[0].text}}</p>   {{/each}}
        {{/if}} 
      </div>
   
      <div class="block">
        <span class="before:content-['\006b'] font-chrisfo-icon text-2xl mr-3"></span>
       {{#each c_locations}} <p>{{c_topfooter.[1].text}}</p>   {{/each}}
      </div>
      <div class="block">
        <span class="before:content-['\006a'] font-chrisfo-icon text-2xl mr-3"></span>
         {{#each c_locations}} <p>{{c_topfooter.[2].text}}</p>   {{/each}}
      </div>
      <div class="block">
        <span class="before:content-['\006d'] font-chrisfo-icon text-2xl mr-3"></span>
         {{#each c_locations}} <p>{{c_topfooter.[3].text}}</p>   {{/each}}
      </div>
    </div>
  </div>
  <div class="footer-main">
    <div class="container flex flex-wrap">
      <div class="footer-logo">
        <a href="/" class="inline-block items-center">
          <img class="w-[243px]"
            src="https://www.christofle.com/fstrz/r/s/c/www.christofle.com/media/logo/default/logo_christofle.png.avif?frz-v=4837"
            alt="">
        </a>
      </div>
      <div class="footer-block">
        {{#each c_locations}}
        <h4>{{c_singletext.[0].text}}</h4>
        {{/each}}
        <ul class="footer-links">
          {{#each c_locations}}
          {{#each c_onefooter}}
          <li><a href="{{cta.link}}"
              class="nav-item">{{cta.label}}</a>
          </li>
          {{/each}}
          {{/each}}
        </ul>
      </div>
      <div class="footer-block">
        {{#each c_locations}}
        <h4>{{c_singletext.[1].text}}</h4>
        {{/each}}
        <ul class="footer-links">
          {{#each c_locations}}
          {{#each c_twofooter}}
          <li><a href="{{cta.link}}"
              class="nav-item">{{cta.label}}</a>
          </li>
          {{/each}}
          {{/each}}
        </ul>
      </div>
      <div class="footer-block">
        {{#each c_locations}}
        <h4>{{c_singletext.[2].text}}</h4>
        {{/each}}
        <ul class="footer-links">
          {{#each c_locations}}
          {{#each c_threefooter}}
          <li><a href="{{cta.link}}"
              class="nav-item">{{cta.label}}</a>
          </li>
          {{/each}}
          {{/each}}
        </ul>
      </div>
      <div class="footer-block">
        {{#each c_locations}}

        <h4 class="font-bold text-sm leading-[21px] uppercase mb-8"><a href="#">
            {{c_singletext.[4].text}}</a></h4>{{/each}}

        {{#each c_locations}}
        <h4>{{c_singletext.[3].text}}</h4>
        {{/each}}
        <ul class="social-icons">
          <li class=""><a href="#"><i
                class="before:content-['\0049']"></i></a>
          </li>
          <li class=""><a href="#"><i
                class="before:content-['\004d']"></i></a>
          </li>
          <li class=""><a href="#"><i
                class="before:content-['\004a']"></i></a>
          </li>
          <li class=""><a href="#"><i
                class="before:content-['\004b']"></i></a>
          </li>
          <li class=""><a href="#"><i
                class="before:content-['\004c']"></i></a>
          </li>
          <li class=""><a href="#"><i
                class="img-icon bg-weibo"></i></a>
          </li>
          <li class=""><a href="#"><i
                class="img-icon bg-wechat"></i></a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</footer>