<div class="location-information pb-7 md:pb-[60px]">
    <div class="container container-fluid">
        <div class="row">
            <div class="col store-address-info">
                <h3 class="box-title">{{c_bannerTitle}}</h3>
                <div class="info-row address-info">
                    <span class="icon font-chrisfo-icon">R</span>
                    <address class="info-row-content">
                        {{address.line1}} <br />
                        {{address.city}}, {{address.region}} {{address.postalCode}} <br />
                        {{address.countryCode}}
                    </address>
                </div>
                <div class="info-row"><span class="icon font-chrisfo-icon">Q</span><a class="info-row-content"
                        href="tel:{{mainPhone}}">{{phoneNumber "uk" mainPhone "INTERNATIONAL"}}</a></div>
                <div class="info-row"><span class="icon font-chrisfo-icon">O</span><a href="mailto:{{emails}}"
                        class="info-row-content">{{emails}}</a></div>

                <div class="info-row currentStatus"><span class="icon font-chrisfo-icon">0</span><span
                        class="info-row-content timeshow"></span></div>
                <div class="location-action">
                    <a id="address"
                    class="button primary-button"
                    href="https://www.google.com/maps/dir/?api=1&destination={{address.line1}} {{address.city}} {{address.region}} {{address.postalCode}}"
                    target="_blank"> <span class="icon font-chrisfo-icon">p</span> 
                     Itinéraire vers la boutique
                </a>

                   
                </div>
            </div>

            <div class="col store-hours">
                <div class="inner-box">
                    <h3 class="box-title">{{c_nature}}</h3>
                    <div class="hours-div">{{>hours hours}}</div>
                </div>
            </div>

            <div class="col store-location-map">
                <iframe class="border-none"
                    src="https://maps.google.com/maps?q={{geocodedCoordinate.latitude}},{{geocodedCoordinate.longitude}}&hl={{meta.locale}}&z=14&amp;output=embed"
                    width="100%" height="450" loading="lazy"></iframe>
            </div>

        </div>
    </div>
</div>
